
Source
https://www.kaggle.com/datasets/yasserh/titanic-dataset

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.metrics import accuracy_score
import sweetviz as sv

C:\Users\aluga.com\Desktop\private-repos\titanic-multivariate-analysis\.venv\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv("data/Titanic-Dataset.csv")
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [23]:
df.drop(['PassengerId', 'Ticket', 'Cabin','Name'],axis=1,inplace=True, errors='ignore')
df = pd.get_dummies(df,columns=['Pclass','Embarked','Sex'],drop_first=True)

C:\Users\aluga.com\Desktop\private-repos\titanic-multivariate-analysis\.venv\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
my_report = sv.analyze(df,target_feat='Survived')
my_report.show_html()

Feature: SibSp                               |████████████████████████████████████████████████████████████▊                                                    | [ 54%]   00:01 -> (00:01 left)C:\Users\aluga.com\Desktop\private-repos\titanic-multivariate-analysis\.venv\lib\site-packages\sweetviz\utils.py:34: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  clamped_series = clamped_series.append(other_series, ignore_index=False)
Feature: Parch                               |█████████████████████████████████████████████████████████████████████▌                                           | [ 62%]   00:02 -> (00:01 left)C:\Users\aluga.com\Desktop\private-repos\titanic-multivariate-analysis\.venv\lib\site-packages\sweetviz\utils.py:34: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  clamped_series = clamped_series.append(other_series, ignore_index=False)
[Step 3/3] Generating associations graph     |                                                                                                                     | [  0%]   00:00 -> (? left)C:\Users\aluga.com\Desktop\private-repos\titanic-multivariate-analysis\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Desktop\private-repos\titanic-multivariate-analysis\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Desktop\private-repos\titanic-multivariate-analysis\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Desktop\private-repos\titanic-multivariate-analysis\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Desktop\private-repos\titanic-multivariate-analysis\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Desktop\private-repos\titanic-multivariate-analysis\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Desktop\private-repos\titanic-multivariate-analysis\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Desktop\private-repos\titanic-multivariate-analysis\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Desktop\private-repos\titanic-multivariate-analysis\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
Done! Use 'show' commands to display/save.   |█████████████████████████████████████████████████████████████████████████████████████████████████████████████████| [100%]   00:00 -> (00:00 left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [24]:
df['Age'].fillna(df['Age'].mean().astype(int),inplace=True)

In [28]:
# defining the dependent and independent variables
Xtrain = df.drop('Survived',axis=1)
ytrain = df[['Survived']]
   
# building the model and fitting the data
log_reg = sm.Logit(ytrain, Xtrain).fit()

Optimization terminated successfully.
         Current function value: 0.487074
         Iterations 6

In [33]:
accuracy_score(ytrain,log_reg.predict(Xtrain).astype(int))

0.6161616161616161

In [29]:
log_reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      882
Method:                           MLE   Df Model:                            8
Date:                Wed, 18 May 2022   Pseudo R-squ.:                  0.2686
Time:                        13:32:44   Log-Likelihood:                -433.98
converged:                       True   LL-Null:                       -593.33
Covariance Type:            nonrobust   LLR p-value:                 4.310e-64
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Age            0.0041      0.006      0.729      0.466      -0.007       0.015
SibSp         -0.2523      0.096     -2.641      0.008      -0.440      -0.065
Parch         -0.0793      0.112     -0.707      0.480      -0.299       0.141
Fare           0.0174      0.003      5.570      0.000       0.011       0.024
Pclass_2       0.6143      0.249      2.471      0.013       0.127       1.102
Pclass_3      -0.2292      0.223     -1.027      0.304      -0.667       0.208
Embarked_Q     0.5321      0.352      1.512      0.131      -0.158       1.222
Embarked_S     0.2277      0.222      1.025      0.305      -0.208       0.663
Sex_male      -2.1853      0.179    -12.185      0.000      -2.537      -1.834
==============================================================================
"""